/* .collections{
    overflow: scroll;
    display: flex;
    cursor: pointer;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solide white;
    width: max-content;
  } */
  /* .collections ::-webkit-scrollbar {
    /* display: none; */
  


  .collection-card{
    color: white;
    background-color: #1a1c1e;
    border-radius: 20px;
    overflow: hidden;
    width: 330px;
    height: 470px;
    margin-right: 30px;
  }
  .pic > img{
    height: 250px;
    width: 100%;
    
  }
  .weth-img{
    height: 23px;
    width: 15px;
  }
  .collection-card h2{
    margin-bottom: 0px;
  }
  .id {
    color: #a1a5b0;
    margin-top: 0px;

  }
  .price{
    margin-top: 0;
    display: flex;
    align-items: center;
  }
  .price p{
    font-size: large;
  }
  .punk-info{
    margin-left: 20px;
  }